//
//  Config.xcconfig
//  DDLCModTemplate
//
//  Создан Маркизом Куртом 9 июня 2019 г.
//  Авторские права © 2019-2024 bronya_rand. Все права защищены.
//

// Подробности о формате файла конфигурации можно узнать здесь:
// https://help.apple.com/xcode/#/dev745c5c974

// Измените строку ниже так, чтобы она указывала на реальный путь установки Ren'Py!
RENPY_TOOL=/какой_то/каталог/renpy/renpy.sh

BUILD_ACTION=$(SRCROOT)/game lint
RUN_ACTION=$(SRCROOT)/game
